@media(min-width: 1700px) {
  #page-home {
    background-position-x: 40vw;
  }
}

@media (max-width: 1100px) {
  #page-home {
    background-position-x: 80vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;

    width: 80%;
    height: 80%;
  }

  #page-home header a {
    position: absolute;
    bottom: 90px;

    left: 50%;
    transform: translateX(-50%);
  }

  #page-home main {
    align-items: center;
  }
}

@media (max-width: 750px) {
  #page-search-results .cards {
    grid-template-columns: 1fr;
  }

  #page-search-results .cards img {
    height: 250px;
  }

  #page-create-point .field-group {
    flex-direction: column;
  }

  #page-create-point .field-group .field + .field {
    margin-left: 0;
  }
}

@media(min-width: 760px) {
  #page-home {
    background-position-y: 200px;
  }
}

@media (max-width: 490px) {
  #page-home .content {
    width: 80%;
    max-width: 1100px;
    height: 100%;
    border-radius: 10px;
    
    box-shadow: none;
  }

  #page-home header a {
    position: absolute;
    bottom: 20px;
  }
}